{% extends 'base.html.twig' %}
{% block body %}
    <h1>Bienvenue dans ce blog</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste ratione magni quaerat reprehenderit aliquid maxime similique quis ipsam omnis cum provident, laudantium fugit asperiores. Neque, praesentium quas officia repudiandae placeat omnis! Odio magni doloremque quod, cum eligendi quas consequuntur tempore.</p>
    <p>Quis voluptatum, doloribus unde voluptates, veniam beatae a tempore temporibus molestiae quos aut deserunt voluptatem! Officia eos minima iusto, dicta praesentium doloribus dolore debitis alias ad. Placeat quis tempora amet libero officia laboriosam, adipisci mollitia consequuntur soluta esse quas in.</p>
    
{% endblock %}